@import './fonts/futura/stylesheet.css';

.interface {
  color: #fff;
  font-family: 'Futura PT', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 1.2rem;
  z-index: 9990;
  opacity: 1;
  pointer-events: all;

  transition: all 0.3s ease;
}

.interface.hidden {
  opacity: 0;
  pointer-events: none;
  z-index: -9999;
}

.interface .title {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

/**
* Overlay
*/

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: -9999;

  display: grid;
  grid-template-rows: 1fr auto;
}

.overlay.visible {
  opacity: 1;
  pointer-events: all;
  z-index: 9999;
}

.ant-collapse {
  overflow-y: scroll;
  width: 100%;
}

::-webkit-scrollbar {
  width: 0;
}

.overlay ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.overlay li::before {
  content: '→';
  color: #ff6666;
  display: inline-block;
  width: 1em;
  /* margin-left: -1em; */
  margin-right: 0.5rem;
}

.overlay .close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  opacity: 0.7;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.overlay .close:hover {
  opacity: 1;
}

.overlay > div {
  padding: 1rem;
}

.overlay .panel-header {
  font-family: 'Futura PT', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
}

.ant-collapse-header {
  align-items: center !important;
}

/* Credits */
.credits {
  justify-self: center;
  text-align: center;
}

/* Informations */
.interface.informations,
.interface.instructions {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1rem;
  line-height: 1.5rem;
}

/* Instructions */
.interface.instructions .title {
  grid-column: span 2;
}

.interface.instructions .title:not(span:nth-child(1)) {
  margin-top: 1rem;
}

/* Caption */
.caption-group {
  display: flex;
  align-items: center;
  gap: 1rem;
  line-height: 1.7;
  cursor: pointer;
}

.caption-group > span {
  display: flex;
  align-items: center;
}

/**
  * Hints
  */

.hints {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

.hints > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  cursor: pointer;
  pointer-events: all;
}

.hints .right {
  align-items: flex-end;
}

.hints > div > div,
.search .more {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Transitions */

.hints > div > div > svg,
.search .more > svg {
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.hints > div > div span.content,
.search .more span.content {
  transition: transform 0.3s ease;
}

.hints > .left > div:hover span.content,
.search > .more:hover span.content {
  transform: translateX(1rem);
}

.hints > .right > div:hover span.content {
  transform: translateX(-1rem);
}

.hints > div > div:hover > svg,
.search .more:hover > svg {
  opacity: 1;
}

/**
  * Search
  */

.search {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.search > div {
  padding: 1rem 2rem;
}
.search .more {
  cursor: pointer;
  opacity: 1;
  pointer-events: all;
}

.search .more.hidden {
  opacity: 0;
  pointer-events: none;
}
